<title>Instalight</title>
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
<link rel="stylesheet" href="/superlight.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1 class='c-title'>
  <a href='/'>Superlight</a>
  <a href="#" class='c-title__bonus'>&#x2022;</a>
</h1>

<ol class='c-photos'></ol>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js"></script>
