<title>Superlight</title>
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
<link rel="stylesheet" href="/superlight.css">
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style media="screen">
	{{hypercolor}}
	.c-title__name { animation: hypercolor 8s infinite; }
</style>

<h1 class='c-title'>
	<a href='/' class='c-title__name'>Superlight</a>
	<a href="#" class='c-title__bonus'>&#x2022;</a>
</h1>

<ol class='c-photos'></ol>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.js"></script>

<script type="text/javascript">

	const listNode = document.querySelector('.c-photos');
	const widthVirtual = (window.innerWidth > 1000) ? 1000 : window.innerWidth;
	const widthActual = widthVirtual * Math.min(2, window.devicePixelRatio);

	function generatePhotoHTML(photo) {

		if (photo === 'atEnd') return `<div class='c-at_end'>You are at the end</div>`;

		return `<li class='c-photos__photo'>
			<div class='c-photos__placeholder' style='width: ${widthVirtual}px; height: ${widthVirtual/photo.ratio}px;'>
				<a href='/photo/${photo.date}'>
					<img src='/assets/${photo.path}?w=${widthActual}' width='${widthVirtual}' height='${widthVirtual/photo.ratio}'>
				</a>
			</div>
			<h3 class='c-photos__title'><a href="/">${photo.title}</a></h3>
			<p class='c-photos__date'><a href='/photo/${photo.date}'>${moment(photo.date).fromNow()}</a></p>
		</li>`;

	}

	// Intercept all clicks and keep things in the webapp
	window.addEventListener('click', e => {

		if (e.target.classList[0] == 'c-title__bonus') {
			e.preventDefault();
			const modal = `<div class='c-modal'>
				<div class='c-modal__inner'>
					<p>Photos taken by <a href='http://jimwhimpey.com'>Jim Whimpey</a></p>
					<p><a href='/feed.json'>Subcribe to the JSON feed</a></p>
					<p>Close this modal</p>
				</div>
			</div>`;
			document.body.insertAdjacentHTML('beforeend', modal);
			const insertedModal = document.querySelector('.c-modal');
			insertedModal.addEventListener('click', e => {
				if (e.target.nodeName !== 'A') document.body.removeChild(insertedModal);
			});
		}

		const closestA = e.target.closest('a');
		if (closestA) window.location = closestA.getAttribute("href");
	});

	function throttle(callback, limit) {
		var wait = false;
		return function() {
			if (!wait) {
				callback.call();
				wait = true;
				setTimeout(function() {
					wait = false;
				}, limit);
			}
		}
	}

</script>
