{{>head}}

<script type="text/javascript">

  let isLoading = false;
  let atEnd = false;

  const listNode = document.querySelector('.c-photos');
  const widthVirtual = window.innerWidth;
  const widthActual = widthVirtual * Math.min(2, window.devicePixelRatio);

  let page = 1;
  const perPage = 3;

  function loadPhotos() {

    isLoading = true;

    fetch(`./photos/${page}/${perPage}`).then(response => response.json()).then(function(photos) {

      if (photos.indexOf('atEnd') >= 0) {
        atEnd = true;
        photos.splice(photos.indexOf('atEnd'), 1);
      }

      photos.forEach((photo) => {
        const photoNode = `<li class='c-photos__photo'>
          <div class='c-photos__placeholder' style='width: ${widthVirtual}px; height: ${widthVirtual/photo.ratio}px;'>
            <a href='/photo/${photo.date}'>
              <img src='assets/${photo.path}?w=${widthActual}' width='${widthVirtual}' height='${widthVirtual/photo.ratio}'>
            </a>
          </div>
          <h3 class='c-photos__title'><a href="/">${photo.title}</a></h3>
          <p class='c-photos__date'><a href='/photo/${photo.date}'>${moment(photo.date).fromNow()}</a></p>
        </li>`;
        listNode.insertAdjacentHTML('beforeend', photoNode);
      });
      isLoading = false;
    });

  }

  // Initial load
  loadPhotos();

  // Listen for the end of the page
  window.addEventListener('scroll', throttle(() => {

    const viewportHeight = window.innerHeight;
    const scrollPosition = window.scrollY;
    const pageHeight = document.body.scrollHeight;
    const distanceFromBottom = pageHeight - (viewportHeight + scrollPosition);

    if (distanceFromBottom < (viewportHeight/2) && !atEnd) {
      page += 1;
      loadPhotos();
    }

  }, 100));

  function throttle(callback, limit) {
    var wait = false;
    return function() {
      if (!wait) {
        callback.call();
        wait = true;
        setTimeout(function() {
          wait = false;
        }, limit);
      }
    }
  }


</script>
