{{>head}}

<script type="text/javascript">

	// Load the initial page of photos with data returned from the server
	const initialPhotos = {{{photos}}};
	initialPhotos.forEach(photo => listNode.insertAdjacentHTML('beforeend', generatePhotoHTML(photo)));

	// Stop ourselves going crazy
	let isLoading = false;
	let atEnd = false;

	// The first page was loaded by the server
	let page = 1;
	const perPage = {{pageSize}};

	function loadPhotos() {

		isLoading = true;

		fetch(`./photos/${page}/${perPage}`).then(response => response.json()).then(function(photos) {
			if (photos.indexOf('atEnd') >= 0) atEnd = true;
			photos.forEach(photo => listNode.insertAdjacentHTML('beforeend', generatePhotoHTML(photo)));
			isLoading = false;
		});

	}

	// Listen for the end of the page
	window.addEventListener('scroll', throttle(() => {

		const viewportHeight = window.innerHeight;
		const scrollPosition = window.scrollY;
		const pageHeight = document.body.scrollHeight;
		const distanceFromBottom = pageHeight - (viewportHeight + scrollPosition);

		if (distanceFromBottom < (viewportHeight/2) && !atEnd && !isLoading) {
			page += 1;
			loadPhotos();
		}

	}, 100));

</script>
