/* Reset */
* {margin:0;padding:0;outline:0;font-size:1em;font-weight:normal;font-style:normal;border:0;text-decoration:none;list-style-type:none}

a {
  color: inherit;
}

.c-title {
  font-family: 'Bungee Shade', Menlo, Monaco, monospace;
  font-size: 32px;
  padding: 10px 10px 5px 10px;
  animation: hypercolor 15s infinite;
}

@keyframes hypercolor {
  0% { color: #151440; }
  25% { color: #eb617d; }
  50% { color: #732f6e; }
  75% { color: #d94e8f; }
  100% { color: #151440; }
}

.c-blurb {
  font-family: "Operator Mono", Menlo, Monaco, monospace;
  font-size: 12px;
  padding: 0 10px 10px 10px;
  color: rgba(0,0,0,0.8);
}

.c-photos__photo {
  margin: 0 0 10px 0;
}

.c-photos__title {
  font-family: "Operator Mono", Menlo, Monaco, monospace;
  font-size: 12px;
  padding: 10px 10px 5px 10px;
  color: rgba(0,0,0,0.8);
}

.c-photos__date {
  font-family: "Operator Mono", Menlo, Monaco, monospace;
  font-size: 12px;
  padding: 0 10px 10px 10px;
  color: rgba(0,0,0,0.5);
}
