/* Reset */
* {margin:0;padding:0;outline:0;font-size:1em;font-weight:normal;font-style:normal;border:0;text-decoration:none;list-style-type:none}

a { color: inherit; }

body {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.c-title {
	font-family: 'Bungee', Menlo, Monaco, monospace;
	font-size: 24px;
	margin: 12px 15px 10px 15px;
	display: flex;
	justify-content: space-between;
	color: white;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.6), 0 0 5px rgba(0, 0, 0, 0.4);
}

.c-title__name {
	letter-spacing: 10px;
}

.c-title__bonus {
	text-align: right;
	color: grey;
	text-shadow: none;
	padding: 0 0 0 10px;
}

.c-photos__photo {
	margin: 0 0 10px 0;
}

.c-photos__placeholder {
	background: rgba(0,0,0,0.1);
}

.c-photos__title {
	font-family: "Operator Mono Book", "Operator Mono", Menlo, Monaco, monospace;
	font-size: 12px;
	font-weight: "Book";
	padding: 10px 15px 5px 15px;
	color: rgba(0,0,0,0.8);
}

.c-photos__date {
	font-family: "Operator Mono Book", "Operator Mono", Menlo, Monaco, monospace;
	font-size: 12px;
	padding: 0 15px 10px 15px;
	color: rgba(0,0,0,0.5);
}

.c-modal {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,0.95);
	color: white;
	text-align: center;
	padding: 20px;
	display: flex;
	align-items: center;
}

.c-modal__inner {
	width: 100%;
	line-height: 2;
	font-family: "Operator Mono Book", "Operator Mono", Menlo, Monaco, monospace;
}

.c-modal__inner a {
	color: #48a8f0;
	text-decoration: underline;
}

.c-at_end {
	text-align: center;
	font-family: "Operator Mono Book", "Operator Mono", Menlo, Monaco, monospace;
	font-style: italic;
	margin: 40px 0 80px 0;
	color: rgba(0,0,0,0.5);
}

@media (min-width: 1000px) {
	.c-title {
		font-size: 32px;
		margin: 30px 0;
	}
	.c-photos__title,
	.c-photos__date {
		font-size: 16px;
		padding-left: 0;
	}
	.c-photos__photo {
		margin: 0 0 30px 0;
	}
}
